/* BUTTON GROUP */
.btn-group button.btn {
    border-radius: 0;
}

.btn-group button.btn.rounded-sm:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.btn-group button.btn.rounded-sm:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.btn-group button.btn.rounded-md:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.btn-group button.btn.rounded-md:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.btn-group button.btn.rounded-lg:first-child {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
.btn-group button.btn.rounded-lg:last-child {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}