/* FLEX */
.flex { display: flex; }

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-revrow { flex-direction: row-reverse; }
.flex-revcol { flex-direction: column-reverse; }

.flex-center { align-items: center; justify-content: center; }
.flex-between { justify-content: space-between; }
.flex-around { justify-content: space-around; }
.flex-evenly { justify-content: space-evenly; }

.flex-1 { flex-basis: 0; flex-grow: 1; }
.flex-2 { flex-basis: 0; flex-grow: 2; }
.flex-4 { flex-basis: 0; flex-grow: 4; }
.flex-6 { flex-basis: 0; flex-grow: 6; }
.flex-8 { flex-basis: 0; flex-grow: 8; }
.flex-12 { flex-basis: 0; flex-grow: 12; }