/* VARS */
:root {
    --primary: #0070f3;
    --secondary: #666;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #d1ac16;
    --dark: #121212;
    --light: #bfbfbf;

    --bg: #131313;
    --text: #bbb;

    --font-base: 'Inter', sans-serif;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;

    --radius: 0.5rem;
    
    --shadow-light: 0 2px 6px rgba(0,0,0,0.1);
    --shadow-dark: 0 2px 6px rgba(255,255,255,0.1);
}